.editor__infobar {
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #eee;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 12px;
}