* {
    font-family: Roboto, Arial, sans-serif;
}

.slidebar {
    display: flex;
    flex: 0 0 340px;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5vw;
    margin: 0.01vw 0.01vw 0 5vw;
    padding: 0 2vw;
    overflow: visible auto;
    max-height: calc(100vh - 200px);
}

.slidebarTools {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    position: sticky;
    top: 5vh;
    flex: 0 0 auto;
}

.slidebarList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    padding: 3px 10px;
    flex: 1 1 auto;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 4 / 3;
    border-radius: 20px;
    margin: 0;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 0 1px gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    user-select: none
}

.thumbnail:hover {
    box-shadow: 0 0 0 2px blue;
}

.thumbnailSelected {
    box-shadow: 0 0 0 4px darkred;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.scaledContainer {
    position: relative;
}

.object {
    position: absolute;
}

.thumbnailContent {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    transform-origin: top left;
    width: 1200px;
    height: 800px;
}

.thumbnailLabel {
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 2px;
}

.draggingSlide {
    opacity: 0.6;
    transform: scale(0.98);
}