.editor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    min-width: calc(340px + 600px + 120px);
}

.main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
}
