.wrapper {
    position: relative;
    overflow: auto;
    margin-left: 5vw;
    width: 100%;
    height: 100%;
}

.scaledContainer {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
}

.scaledContainerSlideshow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace {
    position: relative;
    width: 1200px;
    height: 800px;
    border: 1px solid black;
    aspect-ratio: 4 / 3;
    overflow: hidden;
}

.slideObject {
    position: absolute;
    white-space: pre-wrap;
    word-break: break-word;
    box-sizing: border-box;
    padding: 2px;
    width: 100%;
    height: 100%;
    display: block;
    overflow-wrap: break-word;
    outline: none;
}

.slideObject:focus {
    outline: none;
}

.nonSelectedObject {
    border: 1px solid transparent;
}

.borderContainer {
    position: relative;
    display: inline-block;
    padding: 6px;
    width: 100%;
    height: 100%;
}

.selectedBorder {
    border: 1px dashed blue;
}

.moveCursor {
    cursor: move;
}

.picture {
    width: 100%;
    height: 100%;
    display: block;
}

.editableObject {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

