.editor__tools {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 0 2vw;
}

.tools__action {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tool {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 0.85rem;
    cursor: pointer;
    white-space: nowrap;
}

.tool:hover {
    border: 1px solid blue;
}

.tool__icon {
    width: 15px;
    height: 15px;
}
