.authMode {
    background: rgba(79, 191, 159, 0.6) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.editorMode {
    background: white !important;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}